{% extends 'FaiancaSiteBundle::base.html.twig' %}
{% block body %}
<!-- Begin Content -->
<div id="content"> 
<!-- Begin Slider -->
                    <div id="cycle-slider" class="pics">
                        <div><img src="{{ asset('style/images/art/slider1.jpg') }}" width="680" height="350" /></div>
                        <div><img src="{{ asset('style/images/art/slider2.jpg') }}" width="680" height="350" /><div class="caption left"><h3>Platea dictumst</h3><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus doloremque laudantium.</p> </div></div>
                        <div><img src="{{ asset('style/images/art/slider3.jpg') }}" width="680" height="350" /><div class="caption right"><h3>Cum sociis natoque</h3><p>Morbi lacinia egestas ultrices.</p> </div></div>
                        <div><img src="{{ asset('style/images/art/slider4.jpg') }}" width="680" height="350" /></div>
                        <div><img src="{{ asset('style/images/art/slider5.jpg') }}" width="680" height="350" /></div>
                        <div><img src="{{ asset('style/images/art/slider6.jpg') }}" width="680" height="350" /></div>
                        <div><img src="{{ asset('style/images/art/slider7.jpg') }}" width="680" height="350" /><div class="caption right"><h3>In hac habitasse platea</h3> </div></div>
                        <div><iframe src="http://player.vimeo.com/video/4877398?title=0&amp;byline=0&amp;portrait=0" width="680" height="350" frameborder="0"></iframe></div>
                    </div>
                    <ul id="nav">

                        <li><a href="index.htm#"><img src="{{ asset('style/images/art/slider1-th.jpg') }}" alt="" /></a></li>
                        <li><a href="index.htm#"><img src="{{ asset('style/images/art/slider2-th.jpg') }}" alt="" /></a></li>
                        <li><a href="index.htm#"><img src="{{ asset('style/images/art/slider3-th.jpg') }}" alt="" /></a></li>
                        <li><a href="index.htm#"><img src="{{ asset('style/images/art/slider4-th.jpg') }}" alt="" /></a></li>
                        <li><a href="index.htm#"><img src="{{ asset('style/images/art/slider5-th.jpg') }}" alt="" /></a></li>
                        <li><a href="index.htm#"><img src="{{ asset('style/images/art/slider6-th.jpg') }}" alt="" /></a></li>
                        <li><a href="index.htm#"><img src="{{ asset('style/images/art/slider7-th.jpg') }}" alt="" /></a></li>
                        <li><a href="index.htm#"><img src="{{ asset('style/images/art/slider8-th.jpg') }}" alt="" /></a></li>
                    </ul>

                    <div class="clear"></div>
                    <!-- End Slider --> 

                    <!-- Begin Intro -->
                    <h1 class="intro">Sed ut perspiciatis unde omnis. Natus error voluptatem accusantium. Praesent urna urna, venenatis at ultrices ac, viverra in turpis.</h1>
                    <!-- End Intro -->

                    <div class="divider"></div>

                    <!-- Begin Columns -->
                    <div class="one-third">
                        <h2><img src="{{ asset('style/images/icon-camera.png') }}" alt="" />Photography</h2>
                        <p>Morbi lacinia egestas ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In hac habitasse platea dictumst.</p>
                    </div>

                    <div class="one-third">
                        <h2><img src="{{ asset('style/images/icon-palette.png') }}" alt="" />Graphic Design</h2>
                        <p>Morbi lacinia egestas ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In hac habitasse platea dictumst.</p>
                    </div>

                    <div class="one-third last">
                        <h2><img src="{{ asset('style/images/icon-laptop.png') }}" alt="" />Web Design</h2>
                        <p>Morbi lacinia egestas ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In hac habitasse platea dictumst.</p>
                    </div>
                    <div class="clear"></div>
                    <!-- End Columns -->
                    <br /> <br />
                    <div class="divider"></div>

                    <!-- Begin Latest Works -->
                    <h2><img src="{{ asset('style/images/icon-works.png') }}" alt="" />Latest Works</h2>
                    <div class="carousel">
                        <div id="carousel-scroll"><a href="index.htm#" id="prev">Prev</a><a href="index.htm#" id="next">Next</a></div>
                        <ul>
                            <li> 
                                <a href="portfolio-post.html" title=""> <img src="{{ asset('style/images/art/portfolio1-th.jpg') }}" alt="" />
                                </a> </li>
                            <li> 
                                <a href="portfolio-post.html" title=""> <img src="{{ asset('style/images/art/portfolio7-th.jpg') }}" alt="" />
                                </a> </li>
                            <li> 
                                <a href="portfolio-post.html" title=""> <img src="{{ asset('style/images/art/portfolio10-th.jpg') }}" alt="" />
                                </a> </li>
                            <li> 
                                <a href="portfolio-post.html" title=""> <img src="{{ asset('style/images/art/portfolio4-th.jpg') }}" alt="" />
                                </a> </li>
                            <li> 
                                <a href="portfolio-post.html" title=""> <img src="{{ asset('style/images/art/portfolio5-th.jpg') }}" alt="" />
                                </a> </li>
                            <li> 
                                <a href="portfolio-post.html" title=""> <img src="{{ asset('style/images/art/portfolio3-th.jpg') }}" alt="" />
                                </a> </li>
                            <li> 
                                <a href="portfolio-post.html" title=""> <img src="{{ asset('style/images/art/portfolio9-th.jpg') }}" alt="" />
                                </a> </li>
                            <li> 
                                <a href="portfolio-post.html" title=""> <img src="{{ asset('style/images/art/portfolio8-th.jpg') }}" alt="" />
                                </a> </li>
                        </ul>
                    </div>
                    <!-- End Latest Works -->

                    <div class="divider2"></div>

                    <!-- Begin Columns -->
                    <div class="one-third">
                        <h2><img src="{{ asset('style/images/icon-about.png') }}" alt="" />About Me</h2>
                        <p>Sed aliquet gravida feugiat. Quisqecus convallis rhus. Etiam convallis faucibus dapibus. Nunc et ligula a quam congue mattis. Donec quis metus id odio gava. In hac habitasse platea dictumst. Utar ornare vestibulum nunc condimentum.</p>
                        <a href="index.htm#" class="button">Continue reading<span></span></a><div class="clear"></div>
                    </div>

                    <div class="one-third">
                        <h2><img src="{{ asset('style/images/icon-notes.png') }}" alt="" />Latest Posts</h2>
                        <ul class="list">
                            <li><a href="index.htm#"><img src="{{ asset('style/images/art/blog1-th.jpg') }}" alt="" /><span>Proin luctus adipiscing risus eget</span></a></li>
                            <li><a href="index.htm#"><img src="{{ asset('style/images/art/blog2-th.jpg') }}" alt="" /><span>Vestibulum a justo a sapien mollis</span></a></li>
                            <li><a href="index.htm#"><img src="{{ asset('style/images/art/blog3-th.jpg') }}" alt="" /><span>Donec quis metus id odio condimentum gravida</span></a></li>
                        </ul>
                    </div>

                    <div class="one-third last">
                        <h2><img src="{{ asset('style/images/icon-bird.png') }}" alt="" />Latest Tweets</h2>
                        <div id="twitter-wrapper">
                            <div id="twitter"></div>
                            <span class="username"><a href="javascript:if(confirm('http://twitter.com/elemisdesign\n\nThis file was not retrieved because it was filtered out by your project settings.\n\nWould you like to open it from the server?'))window.location='http://twitter.com/elemisdesign'">Follow @elemisdesign</a></span> </div>
                    </div>
                    <div class="clear"></div>
                    <!-- End Columns -->
                    
</div>
<!-- End Content --> 
{#
    {% for article in articles %}
    <h1>{{ article.title }}</h1>
    <p>{{ article.content }}</p>
    <p>{{ article.author }}</p>
    <p>{{ article.dateCreated | date }}</p>
    {% else %}
    <p>nao existem artigos</p>
    {% endfor %}
    #}
{% endblock %}